.levels-wrapper{
    position: relative;
    top:100px;
    left: 150px;
    width: 250px;
}

.accordion {
    background-color: pink;
    cursor: pointer;
    padding: 25px;
    width: 500px;
    border: grey;
    margin: 15px 15px 15px 15px;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    float: top;
    font-family: Comfortaa;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 20px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color:green;
}

a:active {
    text-decoration: underline;
}

.sidebar-wrapper{
  position: relative;
  right: 200px;
  top: 250px;
}

.sidebar-text {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}

.badge-wrapper {
  position: absolute;
  right:85px; bottom: 230px;
  height: 130px; width: 450px;
  float: left;
  display: inline-block;
  background-color:  #efefef;
  padding-top: 20px;
}

.badge {
  height: 75px; width: auto;
  margin-left: 17px;
  display: inline-block;
}

.streak-wrapper {
  position: absolute;
  right:85px; bottom: 400px;
  padding-top: 10px;
  float:left;
  width: 450px; height: 100px;
  display: inline-block;
  background-color:  #efefef;
}
.announcements-wrapper{
  position: absolute;
  right: 85px; bottom: 60px;
  background-color:  #efefef;
  width: 450px;
  font-size: 20px;
}
